body {
  padding-bottom: 40px;
  padding-bottom: 40px;
  color: #5a5a5a;
}

.study-faq > dd {
  margin-bottom:3ex;
}

/* CUSTOMIZE base
-------------------------------------------------- */

.scicomp-rclear {
  clear:right;
}

#logodiv {
  float:left;
  margin-right:0.5em;
  margin-top:-5px;
  margin-left:-3px;

  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.main-content {
  margin-top: 1ex;
}

/* CUSTOMIZE common
-------------------------------------------------- */

.well h3 {
  margin-top:0;
}

/* CUSTOMIZE THE NAVBAR and footer
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.nonfrontpage.container {
  padding-top:80px;
}

footer {
  background-color: #eee;
  padding-top: 4ex;
  margin-top: 40px;
  padding-bottom: 4ex;
  padding-left: 10px;
  padding-right: 10px;
}

/* ROOT PAGE
-------------------------------------------------- */

.topimage {
    background: url(../images/siebel-center2.jpeg) no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
}

.toptitle {
  font-size:60px;
  font-weight:bold;
  /*
  height:600px;
  padding-top:350px;
  */
  padding-top: 40%;
  padding-bottom: 20%;
  z-index: 10;
  color: #fff;
  -moz-text-shadow: 0 5px 5px rgba(0, 0, 0, .6);
  -webkit-text-shadow: 0 5px 5px rgba(0, 0, 0, .6);
  text-shadow: 0 5px 5px rgba(0, 0, 0, .6);
}

p.who-we-are {
  margin-bottom:0px;
}

/* PEOPLE PAGE
-------------------------------------------------- */

.multicol-list {
  -moz-column-count:3;
  -moz-padding-start:0px;
  -moz-padding-end:0px;

  -webkit-column-count:3;
  -webkit-padding-start:0px;
  -webkit-padding-end:0px;
}

.faculty-row {
  margin-top:4ex;
  margin-bottom:4ex;
}

.grad-list {
  font-size: large;
  line-height: 150%;
}

.grad-list a:link {
  color:#5a5a5a;
}

.grad-list a:visited {
  color:#5a5a5a;
}

.faculty-list a:link {
  color:#5a5a5a;
}

.faculty-list a:visited {
  color:#5a5a5a;
}

.faculty-name {
  font-size: large;
  padding-top: 1.5ex;
  padding-bottom: 1ex;
}

/* COURSE PAGE
-------------------------------------------------- */

.course-listing h2 {
  margin-top:0;
}

h1.course-header {
  margin-bottom:2ex;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 992px) {
}
