<%inherit file="base.tpl"/>

<%block name="title">
Scientific Computing Group | Courses
</%block>

<%block name="content">
<%
SOURCES.insert(0, ("data", "courses.yml"))

import re
urlpattern = re.compile(r'\b(CS|CSE|MATH|ECE)\s*(\d+)')

import datetime
year = datetime.datetime.now().year

newurl = ('<a href="https://courses.illinois.edu/'
  'cisapp/dispatcher/catalog/{year}/fall/%s/%s">%s%s</a>'.format(year=year))

def urlify(somestring):
    return urlpattern.sub(newurl%('\g<1>','\g<2>','\g<1>','\g<2>'), somestring)

import yaml
from codecs import open
with open("courses.yml", "rt", encoding="utf-8") as inf:
  courses = yaml.load(inf)
%>

  <h1 class="course-header">Our Courses</h1>

  %for course in courses:
    %if not course["title"]:
    <% continue %>
    %endif
    <div class="media course-listing">
      %if course.get("image"):
      <span class="pull-left">
        <img src="images/${course["image"]}" alt="${course["number"]}" height="150" class="media-object img-rounded"/>
      </span>
      %else:
      <span class="pull-left">
        <img src="holder.js/150x150/#fff:#fff" alt="${course["number"]}" class="media-object"/>
      </span>
      %endif
      <div class="media-body">
      <a name="${course["number"]}"></a>
      <h2>${urlify(course["number"])} &middot; ${course["title"]}</h2>

      <p>Offered ${course["frequency"]}.</p>

    %if course.get("description"):
      %for d in urlify(course["description"]).split("\n\n"):
        %if len(d.strip()):
          <p>${d}</p>
        %endif
      %endfor
    %endif

    %if course.get("editions"):
      <ul>
        %for edition in course["editions"]:
          <li>
            %if not edition.get("when"):
              <% continue %>
            %endif
            %if edition.get("url"):
            <a href="${edition["url"]}">${edition["when"]}</a>
            %else:
            ${edition["when"]}
            %endif
            %if edition.get("description"):
              : ${edition["description"]}
            %endif
            %if edition.get("who"):
              (${edition["who"]})
            %endif
          </li>
        %endfor
      </ul>
    %endif
    </div>
    </div>
  %endfor
</%block>
