<%inherit file="base.tpl"/>

<%block name="extra_header">
</%block>

<%block name="title">
  Scientific Computing at UIUC
</%block>

<%block name="full_content">

  <!-- Top Image -->
  <div class="topimage">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-5 col-lg-7">
          <div class="toptitle">
          Scientific Computing<br>
          at Illinois
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
     <div class="col-md-12">
        <div class="well">
          <p class="lead who-we-are">
            We are the Scientific Computing and Numerical Analysis group in the
            <a href="http://www.cs.illinois.edu">Department of Computer Science</a>
            at the
            <a href="http://www.illinois.edu">University of Illinois at Urbana-Champaign</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <a href="people.html"><img class="img-rounded center-block" src="images/who-we-are.jpeg" alt="who we are"></a>
        <h2>Get to know us</h2>
        <p>Our students and faculty work on a range of problems from
        integral equation and finite element methods to sparse matrix computatons and
        high performance numerical algorithms.</p>
        <p><a class="btn btn-default" href="people.html" role="button">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <a href="study.html"><img class="img-rounded center-block" src="images/all-about-phd5.jpeg" alt="all about the phd"></a>
        <h2>Get a PhD</h2>
        <p>Interested in a PhD?  Learn more about the process and the opportunities.</p>
        <p><a class="btn btn-default" href="study.html" role="button">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <a href="courses.html"><img class="img-rounded center-block" src="images/courses0.jpeg" alt="courses"></a>
        <h2>Take a course</h2>
        <p>
        We offer introductory and advanced courses in scientific
        computing that teach you how to solve problems ranging from small
        systems of linear equations to large systems of coupled partial
        differential equations, and also iterative methods, parallel
        numerical algorithms, and much more.</p>
        <p><a class="btn btn-default" href="courses.html" role="button">Learn more &raquo;</a></p>
     </div>
    </div>
  </div>

  <center>
    <a href="media/poster.pdf">Join us! Click to view our recruiting poster.</a>
  </center>

  <%block name="extra_scripts">
  </%block>
</%block>
