<%inherit file="base.tpl"/>

<%block name="title">
Scientific Computing Group | News Archive
</%block>

<%block name="content">

<%
SOURCES.insert(0, ("data", "news.yml"))

import yaml
from codecs import open
with open("news.yml", "rt", encoding="utf-8") as inf:
  news_items = yaml.load(inf)
%>

<h1>News Archive</h1>

<p>
These old news clips were salvaged from our previous web site. They are
preserved here as a glimpse of our group's history.
</p>

<ul>
%for news_item in news_items:
<li>
  <h3>${news_item["date"]}: ${news_item["title"]}</h3>
  ${news_item["note"]}
</li>
%endfor
</ul>

</%block>
