## Edit people.yml in this directory to add people! :)

<%inherit file="base.tpl"/>

<%block name="title">
Scientific Computing Group | People
</%block>

<%block name="content">

<%
import re

def reampurl(somestring):
  return re.sub('&(?!amp;)', '&amp;', somestring)

SOURCES.insert(0, ("data", "people.yml"))

import yaml
from codecs import open
with open("people.yml", "rt", encoding="utf-8") as inf:
  people = yaml.load(inf)

%>


<a name="faculty"></a>
<h1>Faculty</h1>

<% counter = 0 %>
%for p in people:
  <%
  if p["category"] not in ["faculty", "emeritus"]:
      continue
  %>

  %if counter == 0:
    <div class="row faculty-row">
  %elif counter % 3 == 0:
    </div>
    <div class="row faculty-row">
  %endif
  <% counter += 1 %>
  <div class="col-md-4 faculty-list">
    %if p.get("image"):
      <div style="height: 300px">
        <a href="${p["url"]}">
        <img src="images/people/scaled/${p["image"]}" alt="${p["name"]}" height="300" class="img-rounded">
        </a>
      </div>
    %endif
    <div class="faculty-name">
      %if p.get("url"):
        <a href="${p["url"]}">${p["name"]} 
          %if p["category"] == "emeritus":
            (Emeritus)
          %endif

          <i class="fa fa-external-link"></i></a>
      %else:
        ${p["name"]}

        %if p["category"] == "emeritus":
          (Emeritus)
        %endif
      %endif
    </div>

    %if p.get("blurb"):
      <p>${p["blurb"]}</p>
    %endif
  </div>
%endfor
</div>

<a name="grads"></a>
<h1>Graduate Students</h1>

<% counter = 0 %>
%for p in people:
  <%
  if p["category"] != "grad":
      continue
  %>
  %if counter == 0:
    <div class="row grad-row">
  %elif counter % 3 == 0:
    </div>
    <div class="row grad-row">
  %endif
  <% counter += 1 %>
  <div class="col-md-4 grad-list">
    <%
      name = p["name"]
    %>
    %if p.get("dept"):
    <%
      name += " (" + p["dept"] + ")"
    %>
    %endif
    %if p.get("url"):
      <a href="${p["url"]}">${name} <i class="fa fa-external-link"></i></a>
    %else:
      ${name}
    %endif
  </div>
%endfor
</div>

<a name="alumni"></a>
<h1>Alumni</h1>

<ul class="multicol-list">
  %for p in [p for p in people if p["category"] == "alumni"]:
    <li>
    %if p.get("url"):
      <a href="${p["url"]}">${p["name"]}</a>
    %else:
      ${p["name"]}
    %endif
    (${p["degree_what"]} ${p["degree_year"]})
    </li>
  %endfor
</ul>

<a name="former"></a>
<h1>Former Faculty and Postdoctoral Research Associates</h1>

<ul class="multicol-list">
  %for p in [p for p in people if p["category"] == "former"]:
    <li>
    %if p.get("url"):
      <a href="${p["url"]}">${p["name"]}</a>
    %else:
      ${p["name"]}
    %endif
    </li>
  %endfor
</ul>

</%block>
